@charset="utf-8";

/*contents*/
#contents{background-color: #333;}
/*#contents hr{
  border: none;
  border-top: 1px solid #191970;
  border-width: thin;
}*/
#contents div{
  width:100%;
  height:500px;
}
h1{
  color:#fff;
  text-align: center;
  margin-top: 60px;
}
p{
  font-size: 30px;
}
/*menu*/
#dropmenu{
  list-style-type: none;
  width: 100%;
  height: 40px;
  margin: auto 0px;
  padding: 0;
  background: #0099cc;
  border-bottom: 5px solid #708090;
  border-radius: 3px 3px 0 0;
  position: fixed;
  position: absolute;
}

#dropmenu li{
  position: relative;
  width: 25%;
  float:left;
  margin:0;
  padding:0;
  text-align: center;
}
#dropmenu li a{
  display:block;
  margin:0;
  padding:15px 0 11px;
  background: #191970;
  color:#fff;
  font-size:14px;
  font-weight: bold;
  line-height: 1;
  text-decoration: none;
}
#dropmenu li:hover > a{
background: #a9a9a9;
color:#00008b;
}
#dropmenu > li:hover > a{
  border-radius: 3px 3px 0 0;
}
#dropmenu li ul{
  list-style: none;
  position: absolute;
  top:100%;
  left: 0;
  margin: 0;
  padding: 0;
  border-radius: 0 0 3px 3px;
}
#dropmenu li:last-child ul{
  left:-100%;
  width:100%;
}
#dropmenu li ul li{
  overflow: hidden;
  width: 200%;
  height: 0;
  color: #fff;
  -moz-trnaition:.2s;
  -webkit-transition:.2s;
  -o-transition:.2s;
  -ms-transition:.2s;
  transition: .2s;
}
#dropmenu li ul li a{
  padding: 13px 15px;
  background: #191970;
  text-align: left;
  font-size: 12px;
  font-weight: normal;
}
#dropmenu li:hover ul li{
  overflow: visible;
  height: 38px;
  border-top: 1px solid #483d8b;
  border-bottom: 1px solid #483d8b;
}
#dropmenu li:hover ul li:first-child{
  border-top:0;
}
#dropmenu li:hover ul li:last-child{
  border-bottom: 0;
}
#dropmenu li:hover ul li:last-child a{
  border-radius: 0 0 3px;
}

/*c-1*/
#explanation{
  color:#333;
}
.text{
  display: table;
  width: 400px;
  height: 400px;
}
.text p{
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  line-height: 1.5em;
}

/*c-2*/
.syoukai li{
  display: block;
  text-align: center;
  margin: 0 auto 10px;
  width: 300px;
}
.syoukai li:last-child{
  margin-bottom: 0px;
}
.syoukai{
  margin: 100px auto;
  text-align: center;
}
.syoukai li{
  display: inline-block;
  margin: 10px 10px;
}
.syoukai li:last-child{
  margin-bottom: 0px;
}
#busyo{
  margin-top: 20px;
}
#busyo p{
  color: #fff;
  text-align: center;
  margin-top: 20px;
}

/*button*/
footer{
	position:fixed;
	width:100%;
	padding:54px 0;
	bottom:0px;
	z-index:300;
}

.button {
	display: inline-block;
	width: 100%;
	height: 54px;
  margin-left: -8px;
	text-align: center;
  font-size: 20px;
	text-decoration: none;
	line-height: 54px;
	outline: none;
}
.button::before,
.button::after {
	position: absolute;
	z-index: -1;
	display: block;
	content: '';
}
.button,
.button::before,
.button::after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all .3s;
	transition: all .3s;
}
.button {
	position: fixed;;
	z-index: 2;
	border: 2px solid #fff;
	color: #fff;
  background-color: #00008b;
	line-height: 50px;
	-webkit-perspective: 300px;
	perspective: 300px;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
}
.button:hover {
	color: #00008b;
}
.button::after {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #fff;
	-webkit-transform-origin: center top;
	transform-origin: center top;
	-webkit-transform: rotateX(90deg);
	transform: rotateX(90deg);
	opacity: 0;
}
.button:hover::after {
	-webkit-transform: rotateX(0);
	transform: rotateX(0);
	opacity: 1;
}
